header.header
  .header__content-desktop
    a.header__link(href="") Residential
    a.header__link(href="") Commercial
    a.header__link(href="") Developer<br/>Project
    .header__logo
      img(src="images/logo.jpg", alt="IFFI Logo")
    a.header__link(href="") Home
    a.header__link(href="") About us
    a.header__link(href="") Contact us
  .header__content-mobile
    .header__logo
      img(src="images/logo.jpg", alt="IFFI Logo")
    .header__menu
      img(src="images/menu.png", alt="Burger Menu")