extends ../layout/main

block VARIABLES
  - var pageTitle = 'Sales Gallery PJ Midtown';
  - var category = 'commercial'
  - var name = 'pj-midtown';

block BODY
  .key-visual
    picture
      source(media="(max-width:991px)" srcset="../../images/commercial-pj-midtown-mobile.jpg")
      img.img-fluid(src="../../images/commercial-pj-midtown.jpg", alt="")
    .product__info
      .product__category Sales Gallery
      .product__title PJ Midtown

  .divider

  .Album
    .Album__content
      .Album__image: img(src="../../images/Sales_Gallery_PJ_Midtown/01.jpg")
      .Album__image: img(src="../../images/Sales_Gallery_PJ_Midtown/02.jpg")
      .Album__image: img(src="../../images/Sales_Gallery_PJ_Midtown/03.jpg")
      .Album__image: img(src="../../images/Sales_Gallery_PJ_Midtown/04.jpg")

  +navigator(category, 3, 1)
