extends ../layout/main

block VARIABLES
  - var pageTitle = 'Sales Gallery JW Sales Gallery';
  - var category = 'commercial'
  - var name = 'jw-sales-gallery';

block BODY
  .key-visual
    picture
      source(media="(max-width:991px)" srcset="../../images/Sales_Gallery_JW_Sales_Gallery/key-visual-mobile.jpg")
      img.img-fluid(src="../../images/Sales_Gallery_JW_Sales_Gallery/key-visual.jpg", alt="")
    .product__info
      .product__category Sales Gallery
      .product__title JW Sales Gallery

  .divider

  .Album
    .Album__content
      .Album__image: img(src="../../images/Sales_Gallery_JW_Sales_Gallery/01.jpg")
      .Album__image: img(src="../../images/Sales_Gallery_JW_Sales_Gallery/02.jpg")
      .Album__image: img(src="../../images/Sales_Gallery_JW_Sales_Gallery/03.jpg")
      .Album__image: img(src="../../images/Sales_Gallery_JW_Sales_Gallery/04.jpg")
      .Album__image: img(src="../../images/Sales_Gallery_JW_Sales_Gallery/05.jpg")
  +navigator(category, 2, 0)
