extends ../layout/main

block VARIABLES
  - var pageTitle = 'Retail TCBY';
  - var category = 'commercial'
  - var name = 'tcby';

block BODY
  .key-visual
    picture
      source(media="(max-width:991px)" srcset="../../images/commercial-pj-midtown-mobile.jpg")
      img.img-fluid(src="../../images/commercial-pj-midtown.jpg", alt="")
    .product__info
      .product__category Commercial
      .product__title Retail TCBY

  .divider

  .Album
    .Album__content
      .Album__image: img(src="../../images/Retail_TCBY/01.jpg")
      .Album__image: img(src="../../images/Retail_TCBY/02.jpg")
      .Album__image: img(src="../../images/Retail_TCBY/03.jpg")
  +navigator(category, 0, 2)
