extends ../layout/main

block VARIABLES
  -
    var pageTitle = 'Developer Project PR1MA - Seremban';
    var category = 'developer'
    var name = 'pr1ma';

block BODY
  .key-visual
    picture
      source(media="(max-width:991px)" srcset="../../images/developer-pr1ma-mobile.jpg")
      img.img-fluid(src="../../images/developer-pr1ma.jpg", alt="")
    .product__info
      .product__category Developer Project
      .product__title PR1MA - Seremban

  .divider

  .Album
    .Album__content
      .Album__image: img(src="../../images/PR1MA_Seremban/01.jpg")
      .Album__image: img(src="../../images/PR1MA_Seremban/02.jpg")
      .Album__image: img(src="../../images/PR1MA_Seremban/03.jpg")
      .Album__image: img(src="../../images/PR1MA_Seremban/04.jpg")
      .Album__image: img(src="../../images/PR1MA_Seremban/05.jpg")
      .Album__image: img(src="../../images/PR1MA_Seremban/06.jpg")
      .Album__image: img(src="../../images/PR1MA_Seremban/07.jpg")

  +navigator(category, 0, 2)
