extends ../layout/main

block VARIABLES
  -
    var pageTitle = 'Developer Project Teega Suites - Nusajaya Johor';
    var category = 'developer'
    var name = 'teega-suites';

block BODY
  .key-visual
    picture
      source(media="(max-width:991px)" srcset="../../images/developer-teega-suites-mobile.jpg")
      img.img-fluid(src="../../images/developer-teega-suites.jpg", alt="")
    .product__info
      .product__category Developer Project
      .product__title Teega Suites - Nusajaya Johor

  +navigator(category, 2, 0)