extends ../layout/main

block VARIABLES
  -
    var pageTitle = 'Condominium Teega Suites - Nusajaya Johor';
    var category = 'developer'
    var name = 'teega-suites';

block BODY
  .key-visual
    picture
      source(media="(max-width:991px)" srcset="../../images/developer-teega-suites-mobile.jpg")
      img.img-fluid(src="../../images/developer-teega-suites.jpg", alt="")
    .product__info
      .product__category Condominium
      .product__title Teega Suites - Nusajaya Johor

  .divider

  .Album
    .Album__content
      .Album__image: img(src="../../images/Teega_Suite_Nusajaya_Johor/01.jpg")
      .Album__image: img(src="../../images/Teega_Suite_Nusajaya_Johor/02.jpg")
      .Album__image: img(src="../../images/Teega_Suite_Nusajaya_Johor/03.jpg")
      .Album__image: img(src="../../images/Teega_Suite_Nusajaya_Johor/04.jpg")

  +navigator(category, 2, 0)