extends ../layout/main

block VARIABLES
  -
    var pageTitle = 'Condominium Seventeen Residences - Petaling Jaya';
    var category = 'developer'
    var name = 'seventeen-residences';

block BODY
  .key-visual
    picture
      source(media="(max-width:991px)" srcset="../../images/Seventeen_Residences_Petaling_Jaya/key-visual-mobile.jpg")
      img.img-fluid(src="../../images/Seventeen_Residences_Petaling_Jaya/key-visual.jpg", alt="")
    .product__info
      .product__category Condominium
      .product__title Seventeen Residences - <br class="product__break"/>Petaling Jaya

  .divider

  .Album
    .Album__content
      .Album__image: img(src="../../images/Seventeen_Residences_Petaling_Jaya/01.jpg")
      .Album__image: img(src="../../images/Seventeen_Residences_Petaling_Jaya/02.jpg")
      .Album__image: img(src="../../images/Seventeen_Residences_Petaling_Jaya/03.jpg")
      .Album__image: img(src="../../images/Seventeen_Residences_Petaling_Jaya/04.jpg")

  +navigator(category, 1, 3)
