extends ../layout/main

block VARIABLES
  -
    var pageTitle = 'Developer Project Seventeen Residences - Petaling Jaya';
    var category = 'developer'
    var name = 'seventeen-residences';

block BODY
  .key-visual
    picture
      source(media="(max-width:991px)" srcset="../../images/developer-seventeen-residences-mobile.jpg")
      img.img-fluid(src="../../images/developer-seventeen-residences.jpg", alt="")
    .product__info
      .product__category Developer Project
      .product__title Seventeen Residences - <br class="product__break"/>Petaling Jaya

  +navigator(category, 1, 3)
