extends ../layout/main

block VARIABLES
  -
    var pageTitle = 'Developer Project Seventeen Residences - Petaling Jaya';
    var category = 'developer'
    var name = 'seventeen-residences';

block BODY
  .key-visual
    picture
      source(media="(max-width:991px)" srcset="../../images/developer-seventeen-residences-mobile.jpg")
      img.img-fluid(src="../../images/developer-seventeen-residences.jpg", alt="")
    .product__info
      .product__category Developer Project
      .product__title Seventeen Residences - <br class="product__break"/>Petaling Jaya

  .divider

  .Album
    .Album__content
      .Album__image: img(src="../../images/PR1MA_Seremban/01.jpg")
      .Album__image: img(src="../../images/PR1MA_Seremban/02.jpg")
      .Album__image: img(src="../../images/PR1MA_Seremban/03.jpg")
      .Album__image: img(src="../../images/PR1MA_Seremban/04.jpg")
      .Album__image: img(src="../../images/PR1MA_Seremban/05.jpg")
      .Album__image: img(src="../../images/PR1MA_Seremban/06.jpg")
      .Album__image: img(src="../../images/PR1MA_Seremban/07.jpg")

  +navigator(category, 1, 3)
