extends ../layout/main

block VARIABLES
  -
    var pageTitle = 'Developer Project PJ Midtown - Petaling Jaya';
    var category = 'developer'
    var name = 'pj-midtown';

block BODY
  .key-visual
    picture
      source(media="(max-width:991px)" srcset="../../images/developer-pj-midtown-mobile.jpg")
      img.img-fluid(src="../../images/developer-pj-midtown.jpg", alt="")
    .product__info
      .product__category Developer Project
      .product__title PJ Midtown - Petaling Jaya

  .divider

  .Album
    .Album__content
      .Album__image: img(src="../../images/PJ_Midtown_Petaling_Jaya/01.jpg")
      .Album__image: img(src="../../images/PJ_Midtown_Petaling_Jaya/02.jpg")
      .Album__image: img(src="../../images/PJ_Midtown_Petaling_Jaya/03.jpg")
      .Album__image: img(src="../../images/PJ_Midtown_Petaling_Jaya/04.jpg")
      .Album__image: img(src="../../images/PJ_Midtown_Petaling_Jaya/05.jpg")

  +navigator(category, 3, 1)
