extends ../layout/main

block VARIABLES
  - var pageTitle = 'developer-project';
  - var name = 'developer-project';

block BODY
  .key-visual.key-visual--developer.key-visual--background
    .key-visual__title-wrapper: .key-visual__title developer<br/>project

  .divider

  .section.section--product: .inner-wrapper
    .container-fluid: .row
        .col-sm-10.offset-sm-1
          p Working with property developers, we have been tasked to plan, design and put together the interiors of the homes they have built on large scale projects basis. Converting empty shells into cosy and habitable homes that are ready for new homeowners to move in, we have been involved with several notable projects within the Klang Valley, Seremban and Iskandar Malaysia.


  .image-section: .inner-wrapper: .container-fluid: .row: .col-10.offset-1
    .developer__project
      a.project.project--first(href="../pages/developer-taman-sempurna-damai.pug")
        .project__overlay
        img.img-fluid(src="../../images/Sempurna_Damai/cover.jpg", alt="")
        .project__info
          .project__category Terrace
          .project__name Taman Sempurna Damai - Semenyih
        .divider
      a.project.project--second(href="../pages/developer-taman-sempurna-jaya.pug")
        .project__overlay
        img.img-fluid(src="../../images/Sempurna_Jaya/cover.jpg", alt="")
        .project__info
          .project__category Terrace
          .project__name Taman Sempurna Jaya - Semenyih
        .divider
      a.project.project--third(href="../pages/developer-seventeen-residences.pug")
        .project__overlay
        img.img-fluid(src="../../images/Seventeen_Residences_Petaling_Jaya/cover.jpg", alt="")
        .project__info
          .project__category Condominium
          .project__name Seventeen Residences - Petaling Jaya
        .divider
      a.project.project--fourth(href="../pages/developer-teega-suites.pug")
        .project__overlay
        img.img-fluid(src="../../images/Teega_Suite_Nusajaya_Johor/cover.jpg", alt="")
        .project__info
          .project__category Condominium
          .project__name Teega Suites - Nusajaya Johor
        .divider