extends ../layout/main

block VARIABLES
  -
    var pageTitle = 'Residential Sening Garden - Taiping';
    var category = 'residential'
    var name = 'sening-garden';

block BODY
  .KeyVisual__image
    picture
      source(media="(max-width:991px)" srcset="../../images/residential-sening-garden-mobile.jpg")
      img.img-fluid(src="../../images/residential-sening-garden.jpg", alt="")
    .product__info
      .product__category Residential
      .product__title Sening Garden - Taiping
  .divider

  .Album
    .Album__content
      .Album__image: img(src="../../images/Sening_Garden_Taiping/01.jpg")
      .Album__image: img(src="../../images/Sening_Garden_Taiping/02.jpg")
      .Album__image: img(src="../../images/Sening_Garden_Taiping/03.jpg")
      .Album__image: img(src="../../images/Sening_Garden_Taiping/04.jpg")
      .Album__image: img(src="../../images/Sening_Garden_Taiping/05.jpg")

  +navigator(category, 2, 1)