extends ../layout/main

block VARIABLES
  -
    var pageTitle = 'Residential The Oval - KLCC';
    var category = 'residential'
    var name = 'the-oval';

block BODY
  .key-visual
    picture
      source(media="(max-width:991px)" srcset="../../images/residential-the-oval-mobile.jpg")
      img.img-fluid(src="../../images/residential-the-oval.jpg", alt="")
    .product__info
      .product__category Residential
      .product__title The Oval - KLCC

  .divider

  .Album
    .Album__content
      .Album__image: img(src="../../images/The_Oval_KLCC/01.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/02.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/03.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/04.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/05.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/06.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/07.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/08.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/09.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/10.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/11.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/12.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/13.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/14.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/15.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/16.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/17.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/18.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/19.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/20.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/21.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/22.jpg")
      .Album__image: img(src="../../images/The_Oval_KLCC/23.jpg")

  +navigator(category, 3, 1)