@import "../../node_modules/bootstrap/scss/bootstrap";
@import "variables";

.page {
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid;
}

.content {
  img {
    display: block;
    width: 100%;
  }
}

// ==============================
// Header
// ==============================
.header {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1440px;
  padding-top: 40px;
  background: linear-gradient(rgb(0, 0, 0), rgba(255,255,255,0));

  &__content-desktop {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__logo {
    img {
      width: 14.4vw;
      max-width: 110px;
    }
  }

  &__menu {
    img {
      width: 8vw;
      max-width: 60px;
    }
  }

  &__link {
    color: #fff;
    padding: 0 10px;
    text-decoration: none;
    border-bottom: 2px solid rgba(255,255,255, 0);

    &:hover {
      color: #fff;
      font-weight: bold;
      border-bottom: 2px solid $red;
    }
  }

  &__content-mobile {
    padding: 0 9.8vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

// ==============================
// Footer
// ==============================
.footer {
  background: #404040;
  color: #fff;
  border-bottom: 3px solid #000;

  @include media-breakpoint-down(lg) {
    padding: 50px 0 100px;
  }

  @include media-breakpoint-up(lg) {
    padding: 50px 0;
  }

  &__content {
    max-width: 1160px;
    margin: 0 auto;
  }

  &__company-name {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 35px;
  }

  &__item + &__item {
    padding-top: 20px;
  }

  &__title {
    font-size: 14px;
    padding-bottom: 5px;
  }

  &__description {
    font-size: 10px;
  }

  &__brand {
    @include media-breakpoint-down(lg) {
      padding-top: 50px;
    }

    @include media-breakpoint-up(lg) {
      text-align: right;
    }
  }

  &__logo {
    padding-bottom: 50px;

    @include media-breakpoint-up(lg) {
      padding-bottom: 60px;
    }

    img {
      width: 10.5vw;
      max-width: 80px;
    }
  }

  &__social-media {
    padding-bottom: 20px;

    a:first-child {
      padding-right: 20px;
    }
  }

  &__copy-right {
    font-size: 10px;
  }
}

// ==============================
// Miscellaneous
// ==============================
.divider {
  height: 6px;
  background: linear-gradient(90deg, $red 50%, #fff 50%);
}