.popup#broganiaResidencePopup
  .popup__close.js--close-popup
    img(src="../../images/popup_close.png")
  .popup__content
    .slick-container.js--slick-slider
      img(src="../../images/popup_image_1.jpg")
      img(src="../../images/popup_image_1.jpg")
      img(src="../../images/popup_image_1.jpg")
      img(src="../../images/popup_image_1.jpg")
.popup#minesResortCityPopup
  .popup__close.js--close-popup
    img(src="../../images/popup_close.png")
  .popup__content
    .slick-container.js--slick-slider
      img(src="../../images/popup_image_1.jpg")
      img(src="../../images/popup_image_1.jpg")
      img(src="../../images/popup_image_1.jpg")
      img(src="../../images/popup_image_1.jpg")
.popup#sempurnaDamaiPopup
  .popup__close.js--close-popup
    img(src="../../images/popup_close.png")
  .popup__content
    .slick-container.js--slick-slider
      img(src="../../images/popup_image_1.jpg")
      img(src="../../images/popup_image_1.jpg")
      img(src="../../images/popup_image_1.jpg")
      img(src="../../images/popup_image_1.jpg")
