.popup#broganiaResidencePopup
  .popup__close.js--close-popup
    img(src="../../images/popup_close.png")
  .popup__content
    .slick-container.js--slick-slider
      img(src="../../images/Brogania_Residence/01.jpg")
      img(src="../../images/Brogania_Residence/02.jpg")
      img(src="../../images/Brogania_Residence/03.jpg")
      img(src="../../images/Brogania_Residence/04.jpg")
      img(src="../../images/Brogania_Residence/05.jpg")
      img(src="../../images/Brogania_Residence/06.jpg")
      img(src="../../images/Brogania_Residence/07.jpg")
      img(src="../../images/Brogania_Residence/08.jpg")
      img(src="../../images/Brogania_Residence/09.jpg")
      img(src="../../images/Brogania_Residence/10.jpg")
      img(src="../../images/Brogania_Residence/11.jpg")
      img(src="../../images/Brogania_Residence/12.jpg")
      img(src="../../images/Brogania_Residence/13.jpg")
      img(src="../../images/Brogania_Residence/14.jpg")
      img(src="../../images/Brogania_Residence/15.jpg")
.popup#minesResortCityPopup
  .popup__close.js--close-popup
    img(src="../../images/popup_close.png")
  .popup__content
    .slick-container.js--slick-slider
      img(src="../../images/Mines_Resort_City/01.jpg")
      img(src="../../images/Mines_Resort_City/02.jpg")
      img(src="../../images/Mines_Resort_City/03.jpg")
      img(src="../../images/Mines_Resort_City/04.jpg")
      img(src="../../images/Mines_Resort_City/05.jpg")
      img(src="../../images/Mines_Resort_City/06.jpg")
      img(src="../../images/Mines_Resort_City/07.jpg")
      img(src="../../images/Mines_Resort_City/08.jpg")
      img(src="../../images/Mines_Resort_City/09.jpg")
      img(src="../../images/Mines_Resort_City/10.jpg")
      img(src="../../images/Mines_Resort_City/11.jpg")
.popup#sempurnaDamaiPopup
  .popup__close.js--close-popup
    img(src="../../images/popup_close.png")
  .popup__content
    .slick-container.js--slick-slider
      img(src="../../images/Sempurna_Damai/01.jpg")
      img(src="../../images/Sempurna_Damai/02.jpg")
      img(src="../../images/Sempurna_Damai/03.jpg")
      img(src="../../images/Sempurna_Damai/04.jpg")
      img(src="../../images/Sempurna_Damai/05.jpg")
      img(src="../../images/Sempurna_Damai/06.jpg")
      img(src="../../images/Sempurna_Damai/07.jpg")
      img(src="../../images/Sempurna_Damai/08.jpg")
      img(src="../../images/Sempurna_Damai/09.jpg")
      img(src="../../images/Sempurna_Damai/10.jpg")
      img(src="../../images/Sempurna_Damai/11.jpg")
      img(src="../../images/Sempurna_Damai/12.jpg")
      img(src="../../images/Sempurna_Damai/13.jpg")
      img(src="../../images/Sempurna_Damai/14.jpg")
      img(src="../../images/Sempurna_Damai/15.jpg")
      img(src="../../images/Sempurna_Damai/16.jpg")
      img(src="../../images/Sempurna_Damai/17.jpg")
      img(src="../../images/Sempurna_Damai/18.jpg")
      img(src="../../images/Sempurna_Damai/19.jpg")
      img(src="../../images/Sempurna_Damai/20.jpg")
      img(src="../../images/Sempurna_Damai/21.jpg")
      img(src="../../images/Sempurna_Damai/22.jpg")
      img(src="../../images/Sempurna_Damai/23.jpg")
