.popup#broganiaResidencePopup
  .popup__close.js--close-popup
    img(src="https://via.placeholder.com/50x50")
  .popup__content
    .slick-container.js--slick-slider
      img(src="https://via.placeholder.com/1500x500")
      img(src="https://via.placeholder.com/1500x500")
      img(src="https://via.placeholder.com/1500x500")
      img(src="https://via.placeholder.com/1500x500")
.popup#minesResortCityPopup
  .popup__close.js--close-popup
    img(src="https://via.placeholder.com/50x50")
  .popup__content
    .slick-container.js--slick-slider
      img(src="https://via.placeholder.com/1501x500")
      img(src="https://via.placeholder.com/1501x500")
      img(src="https://via.placeholder.com/1501x500")
      img(src="https://via.placeholder.com/1501x500")
.popup#sempurnaDamaiPopup
  .popup__close.js--close-popup
    img(src="https://via.placeholder.com/50x50")
  .popup__content
    .slick-container.js--slick-slider
      img(src="https://via.placeholder.com/1502x500")
      img(src="https://via.placeholder.com/1502x500")
      img(src="https://via.placeholder.com/1502x500")
      img(src="https://via.placeholder.com/1502x500")
