footer.footer
  .footer__content
    .container-fluid
      .row
        .col-lg-8
          .footer__logo.d-lg-none
            img(src="../../images/logo.jpg", alt="IFFI Logo")
          .footer__company-name <span class="text--red">IF</span>FI DESIGN sdn. bhd.
          .footer__item
            .footer__title Contact Us
            .footer__description
              | <b>T&nbsp;&nbsp;</b> +6018 210 4678
          .footer__item
            .footer__title E-mail
            .footer__description info@iffi.com.my
          .footer__item
            .footer__title Address
            .footer__description 11-2, No. 8,  Jalan Anggerik Vanilla Be 31/be, Kota Kemuning, Seksyen 31, 40460 Shah Alam, Selangor, Malaysia.

        .col-lg-4
          .footer__brand
            .footer__logo.d-none.d-lg-block
              img(src="../../images/logo.jpg", alt="IFFI Logo")
            .footer__social-media
              a(href="https://api.whatsapp.com/send?phone=60182104678" target="_blank")
                img(src="../../images/whatsapp.png", alt="WhatsApp")
              a(href="https://www.instagram.com/iffidesign_official" target="_blank")
                img(src="../../images/instagram.png", alt="Instagram")
              a(href="https://www.facebook.com/IFFIDesign.Malaysia" target="_blank")
                img(src="../../images/facebook.png", alt="Facebook")
            .footer__copy-right
              | &copy; 2021 <b>IFFI DESIGN</b> SDN. BHD. (1005091-D).
              br
              | All rights reserved.