-
  var products = {
    residential: [
      {
        name: 'the-oval',
        title: 'The Oval - KLCC'
      },
      {
        name: 'bandar-sri-damansara',
        title: 'Bandar Sri Damansara'
      },
      {
        name: 'lumi-tropicana',
        title: 'LUMI Tropicana'
      },
      {
        name: 'alam-impian',
        title: 'Semi-D Tinta Residence'
      },
    ],
    developer: [
      {
        name: 'taman-sempurna-damai',
        title: 'Taman Sempurna Damai - Semenyih'
      },
      {
        name: 'taman-sempurna-jaya',
        title: 'Taman Sempurna Jaya - Semenyih'
      },
      {
        name: 'seventeen-residences',
        title: 'Seventeen Residences - Petaling Jaya'
      },
      {
        name: 'teega-suites',
        title: 'Teega Suites - Nusajaya Johor'
      }
    ],
    commercial: [
      {
        name: 'pj-midtown',
        title: 'Sales Gallery PJ Midtown'
      },
      {
        name: 'tcby',
        title: 'Retail TCBY'
      },
      {
        name: 'aurora-spa-salon',
        title: 'Retail Aurora Spa & Salon'
      },
      {
        name: 'jw-sales-gallery',
        title: 'Sales Gallery JW Sales Gallery'
      }
    ]
  }
