-
  var products = {
    residential: [
      {
        name: 'sening-garden',
        title: 'Sening Garden - Taiping'
      },
      {
        name: 'terrace-house',
        title: 'Terrace House - Bandar Putri Puchong'
      },
      {
        name: 'the-oval',
        title: 'The Oval - KLCC'
      }
    ],
    developer: [
      {
        name: 'pj-midtown',
        title: 'PJ Midtown - Petaling Jaya'
      },
      {
        name: 'pr1ma',
        title: 'PR1MA - Seremban'
      },
      {
        name: 'seventeen-residences',
        title: 'Seventeen Residences - Petaling Jaya'
      },
      {
        name: 'teega-suites',
        title: 'Teega Suites - Nusajaya Johor'
      }
    ]
  }
